<h1>プロフィール</h1>

<div class="contents row">
  <p><%= @nickname %></p>
  <div class="contents-child">
  <% @tweets.each do |tweet| %>
      <%= tweet.genre.name %>
      <p><%= tweet.content %></p>
  <% end %>
  </div>
</div>