@import "bootstrap";

body{
  background-image: url(khaki.png);
}

.navbar-brand {
  background: url("assets/fukkin.png") no-repeat left center;
  background-size: cover;
  height: 50px;
  width: 70px;
}
